go 1.24.0

use (
	./backend/api-gateway
	./backend/cdc-ingestor
	./backend/gra-bridge
	./backend/meter-ingestor
	./backend/ocr-service
	./backend/sentinel
	./backend/tariff-engine
	./database/generated/gnwaas
	./shared/go
	./shared/go/messaging
)
